.mainBackground{
    background-image: url("../../../images/backgrounds/menuBackground.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

h1{
    color: white
}